[submodule "renderer.git"]
	path = renderer
	url = https://github.com/aclysma/renderer_prototype.git
[submodule "minimum.git"]
	path = minimum
	url = https://github.com/aclysma/minimum.git
[submodule "atelier-assets.git"]
	path = atelier-assets
	url = https://github.com/aclysma/atelier-assets.git
